<table>
    <tr>
        <th>Day</th>
        <th>Time worked</th>
        <th>Description</th>
    </tr>
    {% for row in rows %}
    <tr>
        {% for column in row %}
            <td>{{column}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>